<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
<main>
    <div class="jumbotron">
        <h1>Date Personale</h1>

        <p><%= tagline %></p>

        <ul>
            <li>
                <strong><%= clienti.nume %></strong>
                : <%= clienti.email %>
            </li>
        </ul>
    </div>
</main>
</body>
</html>